<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<nav id="navbar-example2" class="navbar  bg-light">
    <a class="navbar-brand" href="#">Vinoteca</a>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" routerLink="/user/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/user/registro" routerLinkActive="active">Registro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/vino/Lista" routerLinkActive="active">Lista de vinos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/vino/Nuevo" routerLinkActive="active">Nuevo vino</a>
        </li>
    </ul>
</nav>